/*@@media screen only and (min-width:860px) and (max-width:1560px) {*/
  .navbar-nav{
    padding-left: 18%;
  }
  .navbar-nav li{
    padding-left: 25px;
  }

  body{
    overflow: auto;
  }

header h3{
     position: absolute;
     top: 480px;
     left: 0;
     width: 100%;

  }
  header h1 {
     position: absolute;
     font-family: 'Lobster', cursive;
     font-size: 70px;
     top: 400px;
     left: 0;
     width: 100%;
  }

#about h3{
  font-family: 'Lobster', cursive;

}
#about {
  background: #ddd;
}

#work {
  background: #ddd;
  border-top:4px solid white;
}
.container-collapse a{
  text-decoration: none;
}

/*Contact Form*/

.columns form{
    background-color: #f2f2f2;
    padding-top: 6px;
    /*padding: 0;*/
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}
#form{
  width: 500px;
  height: 100px;
  resize: both;
  padding-bottom: 1px;
  margin-bottom: 50px;
  /*background: #ddd;*/
  /*overflow: auto;*/
}

input[type=text]{
	margin-bottom: 20px;
	margin-top: 10px;
	width:100%;
	/*padding: 15px;*/
	border-radius:5px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
	border:1px solid #7ac9b7;
}
input[type=submit]
{
	margin-bottom: 20px;
	width:450px;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
	background-color: #4180C5;
	color: aliceblue;
	font-size:15px;
	cursor:pointer;
}

#submit:hover
{
 background-color: green;
}
textarea{
	width:100%;
	padding: 15px;
	margin-top: 10px;
    border:1px solid #7ac9b7;
	border-radius:5px;
	margin-bottom: 20px;
	resize:none;
  }
input[type=text]:focus,textarea:focus {
	border-color: #4697e4;
}

/*Footer*/
/*Footer*/
.blank{
  padding-top:30px;
  width: 80%;
}

footer span,a{
  font-family: 'Roboto Condensed', sans-serif;
  color:grey;
}
footer a{
  /*text-align: center;*/
  margin-top:-12px;
  text-decoration: none;
  color:grey;
  pad
}
footer a:hover{
  color:#fff;
}
