/*@@media screen only and (min-width:860px) and (max-width:1560px) {*/
  .navbar-nav{
    /*padding-left: 18%;*/
  }
  .navbar-nav li{
    padding-left: 25px;
  }

  body{
    overflow: auto;
  }

header h3{
     position: absolute;
     top: 480px;
     left: 0;
     width: 100%;

  }
  header a{
       position: absolute;
       top: 540px;
       left: 0;
       width: 100%;
       color: black;
       /*font-size: 30px;*/


    }
  header h1 {
     position: absolute;
     font-family: 'Lobster', cursive;
     font-size: 70px;
     top: 400px;
     left: 0;
     width: 100%;
  }

#about h3{
  font-family: 'Lobster', cursive;

}
#about {
  background: #ddd;
}

#work {
  background: #000;
  color: #fff;
  /*border-top:4px solid white;*/
}
.container-collapse a{
  text-decoration: none;
}

/*Contact Form*/

.columns form{
    background-color: #f2f2f2;
    padding-top: 6px;
    /*padding: 0;*/
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}
#form{
  width: 400px;
  height: 100px;
  resize: both;
  padding-bottom: 1px;
  margin-bottom: 50px;
  /*background: #ddd;*/
  /*overflow: auto;*/
}

input[type=text]{
	margin-bottom: 20px;
	margin-top: 10px;
	width:100%;
	/*padding: 15px;*/
	border-radius:5px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
	border:1px solid #7ac9b7;
}
input[type=submit]
{
	margin-bottom: 20px;
	width:250px;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
	background-color: #4180C5;
	color: aliceblue;
	font-size:15px;
	cursor:pointer;
}

#submit:hover
{
 background-color: green;
}
textarea{
	width:100%;
	padding: 15px;
	margin-top: 10px;
    border:1px solid #7ac9b7;
	border-radius:5px;
	margin-bottom: 20px;
	resize:none;
  }
input[type=text]:focus,textarea:focus {
	border-color: #4697e4;
}

/*skills*/

/*.content {
    width: 970px;
    width: 100%;
    margin: 0;
    position: relative;
    float: left;
    font-size: 12px;
    line-height: 2em;
    padding: 30px 0 30px;
    color: #fff;
}

.col {
  background: #161616 url(images/pattern_40.gif) top left repeat;"
    width: 780px;
}

#skill {
    list-style: none;
    padding-top: 30px;
}

#skill li {
    margin-bottom: 70px;
    background: #000;
    height: 5px;
    border-radius: 3px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

#skill li em {
    position: relative;
    top: -30px;
}

.expand {
    height: 1px;
    margin: 2px 0;
    background: #2187e7;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.4);
}

.html5 {
    width: 70%;
    -moz-animation: html5 2s ease-out;
    -webkit-animation: html5 2s ease-out;
}

.css3 {
    width: 90%;
    -moz-animation: css3 2s ease-out;
    -webkit-animation: css3 2s ease-out;
}

.jquery {
    width: 50%;
    -moz-animation: jquery 2s ease-out;
    -webkit-animation: jquery 2s ease-out;
}
.github {
    width: 90%;
    -moz-animation: github 2s ease-out;
    -webkit-animation: github 2s ease-out;
}
.javascript {
    width: 90%;
    -moz-animation: javascript 2s ease-out;
    -webkit-animation: javascript 2s ease-out;
}

.vbnet {
    width: 10%;
    -moz-animation: python 2s ease-out;
    -webkit-animation: python 2s ease-out;
}

.python {
    width: 90%;
    -moz-animation: vbnet 2s ease-out;
    -webkit-animation: vbnet 2s ease-out;
}

@-moz-keyframes html5 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@-moz-keyframes css3 {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    };
}

@-moz-keyframes jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    };
}
@-moz-keyframes github {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    };
}
@-moz-keyframes javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    };
}

@-moz-keyframes python {
    0% {
        width: 0px;
    }

    100% {
        width: 10%;
    };
}

@-moz-keyframes vbnet {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    };
}

@-webkit-keyframes html5 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@-webkit-keyframes css3 {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    };
}

@-webkit-keyframes jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    };
}

@-webkit-keyframes github {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    };
}
@-webkit-keyframes javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    };
}
@-webkit-keyframes python {
    0% {
        width: 0px;
    }

    100% {
        width: 10%;
    };
}

@-webkit-keyframes vbnet {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    };
}*/
/*Footer*/

#footer{
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

/*image*/

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(images/profilepic.jpg) no-repeat;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}
