/*@@media screen only and (min-width:860px) and (max-width:1560px) {*/
  .navbar-nav{
    padding-left: 18%;
  }
  .navbar-nav li{
    padding-left: 25px;

  }

.cb-slideshow a{
  text-decoration: none;
  color:#fff;
}
.cb-slideshow  a:hover{
  color:orange;
}
